.exc-title{
  width:300px;
}

md-ink-bar{
  color:#b13729 !important;
  background-color: #b13729 !important;
}

.md-tab.md-active{
  color:black !important;
}


.tabs{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.collection-item{
  margin: 30px 20px;
}
