<md-menu-bar class="menu-bar">
  <span class="main-menu-item">
    <md-button>Home</md-button>
    <md-button>About</md-button>
  </span>
  <md-menu class="main-menu-item">
    <md-button ng-click="$mdOpenMenu($event)">
      Tea Collection
    </md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button ng-click="navCtrl.sampleAction('share', $event)">
          Green Tea
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="navCtrl.sampleAction('share', $event)">
          Black Tea
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-menu-bar>
<!--<nav class="navbar">-->
<!--<a class="main-menu-item" href="#">HOME</a>-->
<!--<a class="main-menu-item" href="#">ABOUT</a>-->
<!--<a class="main-menu-item" href="#">TEA COLLECTION</a>-->
<!--</nav>-->

