<nav class="navbar">
  <div class="logo">
    <a ui-sref="home"><img src="../" alt="logo"/></a>
  </div>
  <md-menu-bar>
    <md-menu>
      <button ng-click="$mdMenu.open()">
        File
      </button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="navCtrl.sampleAction('share', $event)">
            Share...
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-menu-item>
            <md-menu>
              <md-button ng-click="$mdMenu.open()">New</md-button>
              <md-menu-content>
                <md-menu-item><md-button ng-click="navCtrl.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="navCtrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="navCtrl.sampleAction('New Presentation', $event)">Presentation</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="navCtrl.sampleAction('New Form', $event)">Form</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="navCtrl.sampleAction('New Drawing', $event)">Drawing</md-button></md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-item>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-menu-bar>
</nav>
