.thumb-container{
  text-align: center;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 0 0 5px 5px;
}

.container-link{
  text-decoration: none;
  color: black;
}

.container-link:hover{
  text-decoration: none;
  color: black;
}

.tea-thumb-img{
  width: 200px;
  height: 150px;
}

.add-to-cart-btn{
  color:#b13729;
  text-decoration: none;
}
