<div class="main-content">
  <h1 class="title">Contact Us</h1>
  <div class="inner-content row">
    <div class="contactUs-content">
      <section class="details col-md-4">
        <h4 class="inner-title">Our Address</h4>
        <address>
          <strong>Tea Time, Inc.</strong><br>
          1355 Market Street, Suite 900<br>
          San Francisco, CA 94103<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </section>
      <div id="map"></div>
    </div>
  </div>
</div>

