<div class="main-content">
  <h1 class="title">About Us</h1>
  <div class="inner-content row">
    <div class="about-content">
      <section class="about-text col-md-4">Tea Time Atelier, an inconspicuous jewel box tucked away into a quiet corner
        of Greenpoint,
        Brooklyn, has turned six years of sourcing and blending the finest teas and botanicals into a devoted and
        articulate history of tea connoisseurship. Behind the hidden storefront, single-estate teas are sold exclusively
        whole leaf, organic tea and herbal blends are still assembled by hand, and more recently, a collection of
        expertly-crafted, perfumed candles inspired by the company’s teas can be found against a backdrop of faded,
        aubergine walls. A serendipitous find for the earnest wanderer, this is a space that yields itself to the luxury
        of fine tea and an unwavering adherence to excellence.
      </section>
      <video class="cocktail-video" controls src="../../../img/teaVideo.MP4" autoplay
             poster="../../../img/cocktailVideoImg.jpg" height="350"></video>
    </div>
  </div>

</div>
