.footer{
  background-color: #b13729;
  min-height: 250px;
  clear: both;
  bottom: 0;
  width: 100%;
}

.container{
  color:white;
  margin: 15px auto;
}

.footer-menu-title{
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  padding: 10px 0;
}

.footer-menu-item{
  color:white;
  margin: 7px 0;
}

.footer-menu-item:hover , .footer-menu-item:focus{
  color:white;
  text-decoration: none;
}
